
<!DOCTYPE html>
<html lang=en-US>
<head>
  <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  <meta http-equiv=Cache-Control content=no-transform>
  <meta http-equiv=Cache-Control content=no-siteapp>
  <meta name=viewport content="width=device-width,initial-scale=1,user-scalabel=0">
  <meta name=baidu_union_verify content=e6341f34efc4f472a92cfe6872f8fa2a>
  <meta name=sogou_site_verification content=nf1kJ2YuEu>
  <meta http-equiv=”Cache-Control” content=”no-transform”>
  <meta http-equiv=”Cache-Control” content=”no-siteapp”>
  <meta property=og:type content=tool>
  <title>多可德</title>  
</head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>