<!DOCTYPE html>
<html>
<head>
    #include("@/include/meta.html")
    <title>大爱小善，助力公益</title>
    <meta name="keywords" content="兑移动积分，可当钱花又添“好德”福报" />
    <meta name="description" content="兑移动积分，可当钱花又添“好德”福报" />
    <style type="text/css">
     html{
        height:100%;
        background: #43434b;
    }
    body{
        min-height:100%;
    }
    </style>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?6a655cae771a4f3e9a52a11cf4e575d6";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>    
</head>
<body>
<div id="app"></div>
<!-- 数据交互 -->
<script id='bx-shield-datasource' type='text/json'>
{"total":103,"page":1,"pageSize":50,"userId":null}

</script>
</body>
</html>
